<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Loot Planner</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          rel="noopener"
          rel="noreferrer"
          class="nav-link"
          href="https://github.com/cooler09/event-planning/issues"
          target="_blank"
          >See an Issue?</a
        >
      </li>
      <li class="nav-item">
        <a
          rel="noopener"
          rel="noreferrer"
          class="nav-link"
          href="https://www.patreon.com/zacharylockhart"
          target="_blank"
          >Help Support Me</a
        >
      </li>
    </ul>
    <div
      class="text-white dropdown"
      *ngIf="authService.userData; else userLoggedIn"
    >
      <a
        class="nav-link dropdown-toggle btn text-white"
        href="#"
        id="profileDDL"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ authService.userData.displayName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="profileDDL">
        <a class="dropdown-item" href="/dashboard">Profile</a>
        <a class="dropdown-item" (click)="authService.SignOut()">Logout</a>
      </div>
    </div>
    <ng-template #userLoggedIn
      ><div class="text-white">
        <a class="btn text-white" href="/login">Login</a> |
        <a class="btn text-white" href="/register">Register</a>
      </div></ng-template
    >
  </div>
</nav>
<div class="container bg-light">
  <router-outlet></router-outlet>
</div>
