<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Loot Planner</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          rel="noopener"
          rel="noreferrer"
          class="nav-link"
          href="https://github.com/cooler09/event-planning/issues"
          target="_blank"
          >See an Issue?</a
        >
      </li>
      <li class="nav-item">
        <a
          rel="noopener"
          rel="noreferrer"
          class="nav-link"
          href="https://www.patreon.com/zacharylockhart"
          target="_blank"
          >Help Support Me</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
