<div *ngIf="event; else spinner">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div>
        <h1>{{ event.name }}</h1>
        <div>
          {{ formatDate(event.startDate) }} - {{ formatDate(event.endDate) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Attendees</h3>
      <div *ngIf="event.attendees">
        <div
          class="d-flex justify-content-center"
          *ngFor="let attendee of event.attendees"
        >
          <p>{{ attendee.name }}</p>

          <button
            *ngIf="
              authService.isLoggedIn &&
              (authService.userData.uid === event.userId ||
                authService.userData.uid === attendee.userId)
            "
            (click)="removeAttendee(attendee.id)"
            mat-button
            color="primary"
          >
            Delete
          </button>
        </div>
      </div>
      <h3>Wait List</h3>
      <div *ngIf="event.waitList">
        <div *ngFor="let attendee of event.waitList; let i = index">
          <p>{{ i + 1 }}. {{ attendee.name }}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div [formGroup]="formGroup">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <button class="m-3" (click)="addAttendee()" mat-button color="primary">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner><div>Loading event</div></ng-template>
